/* .App-header{
  background-color: black;
} */

*{
background-color: #ffae00;
}

.feedback-form{
  margin-left: 20pt;
  margin-right: 20pt;
}

.container{
  flex-direction: row;

}

.card {
  width: 200pt;
  height: 500pt;
}

.card-title{
  font-size: 08pt;
}

